<h1 class="title">Medicator</h1>
<div class="top-section">
  <app-search-bar></app-search-bar>
  <button>Add medication</button>
</div>
<table class="table">
  <thead>
    <tr class="grid">
      <th>Medication</th>
      <th>Dosage</th>
      <th>Frequency</th>
      <th>Last Update Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(item of tableData;track $index){
    <tr class="grid">
      <td>{{ item.medicationName }}</td>
      <td>{{ item.dosage }}</td>
      <td>{{ item.frequency }}</td>
      <td>{{ item.lastUpdate }}</td>
      <td class="icon-container">
        <img src="../../../assets/icons/edit.png" />
      </td>
    </tr>
    }
  </tbody>
</table>
