<h1 class="title">Medicator</h1>
<div class="top-section">
  <app-search-bar (search)="handleSearchMedicine($event)"></app-search-bar>
  <button (click)="openModal()">Add medication</button>
</div>
<table class="table">
  <thead>
    <tr class="grid">
      <th>Medication</th>
      <th>Dosage</th>
      <th>Frequency</th>
      <th>Last Update Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="grid" *ngFor="let item of filteredMedications$ | async">
      <td>{{ item.medicationName }}</td>
      <td>{{ item.dosage }} - {{ item.unit }}</td>
      <td>{{ item.selectedDays | frequencyPipe : item.selectedHours }}</td>

      <td>{{ item.lastUpdate | date }}</td>
      <td class="icon-container">
        <img src="../../../assets/icons/edit.png" />
      </td>
    </tr>
    {{
      ""
    }}
  </tbody>
</table>
@if(showModal){
<app-medication-modal
  [isVisible]="showModal"
  (close)="closeModal()"
  (submit)="handleSubmit($event)"
>
  <h3 class="modal-title">Add New Medication</h3>
  <form></form>
</app-medication-modal>
}
